# Non-secret production settings only. Secret values belong in TAXSENTRY_SECRET_DIR.
TAXSENTRY_SECRET_DIR=./secrets
POSTGRES_DB=taxsentry
POSTGRES_USER=taxsentry
TAXSENTRY_S3_BUCKET=taxsentry
TAXSENTRY_JOB_HANDLER=taxsentry.data_plane.document_worker:handle_document_job
TAXSENTRY_LEASE_SECONDS=60
TAXSENTRY_POLL_SECONDS=2
TAXSENTRY_WORKER_CPUS=2.0
TAXSENTRY_WORKER_MEMORY=4g
